/* local fonts */


// Raleway

@font-face {
    font-family: 'Raleway-Black';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Black'), 
    url('../fonts/Raleway-Black.woff') format('woff');
}

@font-face {
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Bold'), 
    url('../fonts/Raleway-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Regular'), 
    url('../fonts/Raleway-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Raleway-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Light'), 
    url('../fonts/Raleway-Light.woff') format('woff');
}




// satoshi

@font-face {
    font-family: 'Satoshi-Black';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Black'), 
    url('../fonts/Satoshi-Black.woff') format('woff');
}
@font-face {
    font-family: 'Satoshi-Black-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Black Italic'), 
    url('../fonts/Satoshi-BlackItalic.woff') format('woff');
}
@font-face {
    font-family: 'Satoshi-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Bold'), 
    url('../fonts/Satoshi-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Satoshi-Bold-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Black'), 
    url('../fonts/Satoshi-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Satoshi-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Italic'), 
    url('../fonts/Satoshi-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Satoshi-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Light'), 
    url('../fonts/Satoshi-Light.woff') format('woff');
}
@font-face {
    font-family: 'Satoshi-Light-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Light Italic'), 
    url('../fonts/Satoshi-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Satoshi-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Medium'), 
    url('../fonts/Satoshi-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Satoshi-Medium-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Black'), 
    url('../fonts/Satoshi-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'Satoshi-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Regular'), 
    url('../fonts/Satoshi-Regular.woff') format('woff');
}